*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Oswald', sans-serif;
}

html, body{
    height: 100%;
}
/***DIVS GERAIS***/
.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.clear{
    clear: both;
}


.linha-titulo{
    text-align: center;
    position: relative;
    max-width: 768px;
    margin: 0 auto;
}

.linha{
    position: absolute;
    height: 2px;
    width: 100%;
    top: 20px;
    background:black;
}

.linha-titulo h2{
    position: relative;
    display: inline-block;
    width: 250px;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    background: rgb(255, 255, 255);
}
/***FIM DIVS GERAIS***/


/***HEADER***/
header{
    padding: 20px 2%;
    height: 100px;
}

header .logo-header{
    width: 250px;
    height: 69px;
    background-image: url(../imagens/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

header nav.menu-desktop{
    margin-top: 10px;
    float: right;
}

header nav.menu-desktop ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    float: left;
    padding: 0 20px;
}
header nav.menu-desktop ul li a{
    text-decoration: none;
    color: #383838;
    font-size: 24px;
}

nav.menu-mobile{
    display: none;
    float: right;
    width: 35px;
    height: 35px;
    background-image: url(../imagens/menu.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 15px;
}

nav.menu-mobile ul{
    display: none;
    list-style-type: none;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    text-align: center;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

header nav.menu-mobile ul li{
    padding: 10px 0;
    border-bottom: 2px solid rgb(20, 20, 20);

}
header nav.menu-mobile ul li a{
    text-decoration: none;
    color: #383838;
    font-size: 20px;
}



@media screen and (max-width: 768px){
    nav.menu-desktop{
        display: none;
    }
    nav.menu-mobile{
        display: block;
    }

    nav.menu-mobile:hover ul{
        display: block;
        z-index: 999;
    }
}
/***FIM HEADER***/


/***SECTION BANNER**/
section.banner{
    width: 100%;
    height: calc(100vh - 100px);
    min-height: 600px;
    max-height: 800px;
    background-color: black;
    background-image: url(../imagens/Banner1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    font-style: italic;
}

.text-container{
    padding: 250px;
}

.text-banner{
    width: 300px;
    height: 40px;
    color: white;
    background-image: url(../imagens/text-container.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    left: -110px;
}

.text-banner:nth-of-type(2){
    width: 300px;
    height: 40px;
    position: relative;
    left: -140px;
}
.text-banner:nth-of-type(3){
    width: 300px;
    height: 40px;
    position: relative;
    left: -170px
}

.text-banner:nth-of-type(4){
    width: 300px;
    height:  40px;
    color: rgb(20, 20, 20);
    background-image: url(../imagens/text-container-white.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    position: relative;
    left: -200px;
}
@media screen and (max-width: 1170px){
    .text-banner{
        width: 200px;
        height: 30px;
        font-size: 15px;
        margin-top: 5px;
        padding: 0px;
        position: relative;
        left: 90px;
    }
    .text-banner:nth-of-type(2){
        width: 200px;
        height: 30px;
        font-size: 15px;
        margin-top: 5px;
        padding: 0px;
        position: relative;
        left: 70px;
    }
    .text-banner:nth-of-type(3){
        width: 200px;
        height: 30px;
        font-size: 15px;
        margin-top: 5px;
        padding: 0;
        position: relative;
        left: 50px;
    }
    .text-container{
        padding: 50px;
    }
    .text-banner:nth-of-type(4){
        width: 250px;
        height:  30px;
        color: rgb(20, 20, 20);
        background-image: url(../imagens/text-container-white.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        font-size: 14px;
        margin-top: 5px;
        text-align: center;
        padding: 5px;
        position: relative;
        left: -20px;
    }

}
@media screen and (max-width: 768px){
    section.banner{
        height: 70vh;
        min-height: 0;
        max-height: 800px;
    }
    
}
/***FIM SECTION BANNER***/

/***SECTION VEÍCULOS-DESTAQUE***/
section.veiculos-destaque{
    padding: 90px 2%;
}

.veiculos-destaque  .container{
    max-width: 800px;
    padding: 40px 0;
}

.vitrine-destaque{
    float: left;
    width: 33.3%;
}

.vitrine-destaque .carro-img{
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    border: 5px solid white;
}

.info-carro{
    margin-left: 5px;
}

.info-carro a{
    margin-top: 10px;
}

.btn1{
    width: 150px; 
    padding: 10px;
    background-color: #a80909;
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
    text-transform: uppercase;
    border-bottom: 5px solid #eb2c2c;
}

@media screen and (max-width: 768px){
    .veiculos-destaque .container{
        display: inline-block;
        text-align: center;
    }
    .vitrine-destaque{
        float: none;
        width: 60%; 
        display: inline-block;
        margin-top: 20px;
    }
    .info-carro a{
        display: inline-block;
    }
}
/***FIM SECTION VEÍCULOS-DESTAQUE***/

/***SECTION SERVICOS***/
section.servicos{
    display: flex;
}

.part1{
    width: 50%;
    padding:90px 2%;
    background-color: #242424;
    color: white;
    text-align: center;
}

.part1-wrapper{
    display: inline-block;
    text-align: left;
}

.part1-wrapper h2{
    font-size: 40px;
    font-style: italic;
}
.part1-wrapper ul{
    display: inline-block;
    margin-top: 20px;
}
.part1-wrapper li{
    margin-left: 20px;
}
.part1-wrapper a{
    display: inline-block;
    vertical-align: bottom;
    margin-left: 50px;
}

.part2{
    width: 50%;
    padding:90px 2%;
    background-color: #eb2c2c;
    color: white;
    text-align: left;
}
.part2 h2{
    font-size: 40px;
    font-style: italic;
}
.part2-depoimentos{
    width: 80%;
    height: 150px;
    margin-top: 20px;
    font-size: 20px;
}

.navigation{
    float: left;
    position: relative;
}
.navigation img{
    left: 0; 
    top: 80px;
    position: absolute;
    cursor: pointer;
}
.navigation img:nth-of-type(2){
    left: 50px; 
}

.nome-depoimento{
    margin-top: 20px;
    float: right;
    margin-right: 80px;
    font-size: 18px;
}

@media screen and (max-width:840px){
    .part1-wrapper a{
        display: block;
        margin-left: 0;
        margin-top: 40px;
    }
}
@media screen and (max-width:1024px){
    section.servicos{
        flex-direction: column;
    }
    
    .part1{
        display: inline-block;
        width: 100%;
        padding:90px 2%;
    }
    .part2{
        display: inline-block;
        width: 100%;
        padding:90px 5%;
    }
}

/***SECTION CONTATOS***/
section.contato{
    padding: 90px 2%;
    min-height: 90%;
}


section.contato form{
    max-width: 800px;
    margin: 30px auto;
}

section.contato .input-wrapper{
    float: left;
    padding: 10px;
    margin-top: 10px;
}

section.contato input[type=text]{
    width: 100%;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    padding-left:10px;
}
.w100{
    width: 100%;
}

.w50{
    width: 50%;
}

section.contato textarea{
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    line-height: 40px;
    padding-left:10px;
    resize: none;
}

@media screen and (max-width: 768px){
    .w50{
        width: 100%;
    }
}
/***FIM SECTION CONTATOS***/


/***VENDA.HTML***/
/***SECTION VENDA***/
section.venda{
    padding: 90px;
    min-height: 90%;
}

.conteudo-venda{
    margin-top: 40px;
}

.sidebar{
    float: left;
    width: 30%;
}

.pesquisa1 h2{
    font-size: 25px;
    font-weight: normal;
}

.barra-preco{
    width: 90%;
    height: 20px;
    background: white;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    position: relative;
}

.barra-preco-fill{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 20px;
    background: gray;
    border-radius: 20px;
}

.barra-pointer{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -5px;
    left: 0;
    background: #242424;
    border-radius: 20px;
    cursor: pointer;    
}

.valor-barra-pesquisa{
    margin-top: 12px;
    width: 90%;
}

.valor-barra-pesquisa  p:nth-of-type(1){
    float: left;
}

.valor-barra-pesquisa  p:nth-of-type(2){
    float: right;
}
.pesquisa2{
    padding-top: 35px;
}
.pesquisa2 h2{
    font-size: 25px;
    font-weight: normal;
}
.form-wrapper{
    padding-top: 5px;
}

.vitrine-venda{
    width: 70%;
    float: left;
}

.vitrine-venda .vitrine-destaque{
    padding-top: 10px;
}

@media screen and (max-width: 900px){
    .vitrine-venda{
        width: 100%;
    }

    .sidebar{
        width: 100%;
        text-align: center;
    }
    .pesquisa1{
        display: inline-block;
        width: 100%;
    }
    .pesquisa2{
        display: inline-block;
        text-align: left;
    }

}

@media screen and (max-width: 768px){
    .vitrine-venda{
        float: none;
        width: 100%;
        display: inline-block;
        text-align: center;        
    }
}

/***FIM SECTION VENDA***/

/***FIM VENDA.HTML***/

/***SOBRE.HTML***/

/***SECTION SOBRE***/
section.sobre{
    padding: 90px;
    min-height: 90%;
}

.template-sobre{
    width: 100%;
    padding-top: 50%;
    background-image: url(../imagens/Banner1.png);
    background-size: contain;
    margin: 0 auto;
    margin-top: 60px;
}

section.sobre > .container{
    max-width: 640px;
}

.texto-sobre{
    margin-top: 35px;
}

.texto-sobre h2{
    font-size: 25px;
    text-transform: uppercase;
}
.texto-sobre p{
    font-size: 18px;
    text-align: justify;
    padding: 35px 0;
}

.texto-sobre span{
    color: #a80909;
    font-size: 40px;
}

.proprietario-container{
    padding: 20px 0;
}

.foto-proprietario{
    width: 25%;
    padding-top: 25%;
    background-image: url(../imagens/user.png);
    background-position: center;
    background-size: 100% 100%;
    float: left;
}

.texto-proprietario{
    width: 70%;
    float: left;
}
.texto-proprietario p{
    margin-left: 25px;
    text-align: justify;
    line-height: 30px;
}

@media screen and (max-width:768px){

    .proprietario-container{
        padding: 20px 0;
        text-align: center;
    }
    .foto-proprietario{
        width: 250px;
        padding-top: 250px;
        float: none;
        display: inline-block;
    }
    .texto-proprietario{
        width: 100%;
        float: none;
        margin-top: 25px;
        display: inline-block;
        margin-left: -25px;
    } 
}
/***FIM SECTION SOBRE***/
/***FIM SOBRE.HTML***/

/***VENDA-INDIVIDUAL.HTML***/
section.venda-single  .linha-titulo{
    margin: 40px auto;
}

.info-veiculo{
    float: left;
    width: 60%;
}

.descricao-veiculo{
    float: left;
    width: 40%;
    padding: 45px;
    margin-top: 15px;
  
}

.foto-destaque{
    width: 100%;
    padding-top: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.descricao-veiculo p{
    padding-top: 20px;
}

.descricao-veiculo a{
    margin-top: 20px;
}
.nav-galeria-parent{
    width: 100%;
    padding: 35px; 
    position: relative;

}
.seta-esquerda{
    background-image: url(../imagens/left-arrow.png);
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
    position: absolute;
    left:5px;
    top: 50%;
    cursor: pointer;
}

.seta-direita{
    background-image: url(../imagens/right-arrow.png);
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 5px;
    top: 50%;
    cursor: pointer;
}
.nav-galeria{
    width: 100%;
    overflow: hidden;
}

.mini-img-wrapper{
    float: left;
    padding: 9px;
    
   
}

.mini-img{
    width: 100%;
    padding-top: 70%;
    background-position: center;
    background-size: cover;
    cursor: pointer;

}

nav.breadcrumb ul{
    padding: 10px 16px;
    list-style: none;
}

nav.breadcrumb ul li{
    display: inline;
    font-size: 20px;
}

nav.breadcrumb ul li a{
    text-decoration: none;
    color: #242424;
}

nav.breadcrumb ul li+li::before{
    padding: 20px;
    color: #242424;
    content: "/";
}

nav.breadcrumb ul li a:hover{
    text-decoration: underline;
}

.destaques-venda-individual{
    padding: 60px;
    max-width: 900px;
    margin: 0 auto;
}

.destaques-venda-individual .linha-titulo{
    margin: 40px auto
}

@media screen and (max-width: 968px){
    .info-veiculo{
        float: left;
        width: 100%;
    }
    .descricao-veiculo{
        float: left;
        width: 100%;
        padding: 45px;
        margin-top: 15px;
    }
    .descricao-veiculo a{
        margin: 50px auto;
    }
    .vitrine-venda-individual{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    
}
/***FIM VENDA-INDIVIDUAL.HTML***/

/***CONTATO.HTML***/
section.contato{
    padding: 90px 0;
    min-height: 80%;
}
/***FIM-CONTATO.HTML***/

/***FOOTER***/
footer{
    padding: 40px 0;
    background-color: #242424;
}
.menu-footer{
    float: left;
}
.menu-footer ul{
    list-style-type: none;
}
.menu-footer li{
    float: left;
    padding-left: 20px;
}
.menu-footer li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
footer p{
    float: right;
    color: white;
    font-size: 20px;
}
@media screen and (max-width: 768px){
    .menu-footer{
        display: none;
    }
    footer p{
        float: none;
        text-align: center;
    }
}
/***FIM FOOTER***/